<!--componente de la librería ui -->

<div class="row" style="width: 100%;margin:0px; ">
    <div class="col-md-9 ">
        <router-outlet></router-outlet>
    </div>
    <nav class="col-md-3 " class="history ">
        <a [routerLink]="[ '/explanation'] "><strong>Ver explicación práctica</strong></a>
        <br>
        <br>
        <a [routerLink]="[ '/history'] ">Ver historial: {{navegaciones}} navegaciones</a>
        <br>
        <br>
        <a [routerLink]="[ '/favorites'] ">Ver Favoritos</a>
    </nav>
</div>